:root {
    --bg: #f4f6f8;
    --card: #ffffff;
    --muted: #6b7280;
    --accent: #0f172a;
    --primary: #0ea5a4;
    --danger: #ef4444;
    --success: #10b981;
}

:root.dark {
    --bg: #071024;
    --card: #081227;
    --muted: #9aa7bf;
    --accent: #e6eef8;
    --primary: #06b6d4;
    --danger: #ff6b6b;
    --success: #34d399;
}